openapi: 3.1.0

info:
  title: Descubrimiento y personalización
  version: 1.0.0
  description: |
    Gestiona **cómo los espectadores encuentran contenido**: búsqueda, feed de inicio
    personalizado, videos relacionados y contenido en tendencia (trending).

    Este contexto **no almacena contenido ni metadata original** — consume señales
    de otros contextos (reproducción, likes, suscripciones, metadata editorial) y
    las combina para producir resultados ordenados y personalizados. Su unidad de
    trabajo es el **ranking**, no el video en sí.

    No gestiona comentarios, likes ni suscripciones (eso es de *Audiencia*), ni
    decide visibilidad o derechos de un video (eso es de *Catálogo*). Solo decide
    **en qué orden y a quién** se le muestra contenido ya publicado y visible.

    ## Actores
    - **viewer** — espectador autenticado o anónimo
    - **system** — servicios internos que envían señales de interacción

    ## Eventos que consume
    - `playback.session.completed` (de Publicación) — alimenta señales de watch time
    - `content.published` (de Catálogo) — indica que un video es elegible para indexar
    - `engagement.signal` (de Audiencia) — likes, comentarios, suscripciones

    ## Eventos que emite
    - `recommendation.served` — un set de recomendaciones fue mostrado a un usuario
    - `search.performed` — una búsqueda fue ejecutada

servers:
  - url: https://api.youtube-clone.com/discovery/v1
    description: Servidor de producción

security:
  - BearerAuth: []

tags:
  - name: search
    description: Búsqueda de contenido
  - name: feed
    description: Feed de inicio personalizado
  - name: related
    description: Videos relacionados y recomendaciones
  - name: trending
    description: Contenido en tendencia
  - name: signals
    description: Ingesta de señales de interacción desde otros contextos

# ──────────────────────────────────────────────────────────────────────────────
# PATHS
# ──────────────────────────────────────────────────────────────────────────────

paths:

  # ── Search ───────────────────────────────────────────────────────────────────

  /search:
    get:
      summary: Buscar contenido
      description: >
        Ejecuta una búsqueda por texto libre. Retorna resultados ordenados por
        relevancia, considerando coincidencia textual y señales de popularidad.
        Emite el evento `search.performed` para retroalimentar el modelo de ranking.
      operationId: search
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: Texto de búsqueda
          schema:
            type: string
            example: receta de pastel de choclo
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 50
        - name: cursor
          in: query
          required: false
          description: Cursor de paginación (opaco)
          schema:
            type: string
      responses:
        '200':
          description: Resultados de búsqueda ordenados por relevancia
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultPage'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ── Feed ─────────────────────────────────────────────────────────────────────

  /feed/home:
    get:
      summary: Obtener feed de inicio personalizado
      description: >
        Retorna una lista ordenada de videos recomendados para el usuario,
        basada en su historial de reproducción, suscripciones e intereses.
        Si el usuario no está autenticado, retorna un feed genérico basado
        en popularidad general. Emite `recommendation.served`.
      operationId: getHomeFeed
      tags: [feed]
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Feed de inicio personalizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedPage'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /feed/home/refresh:
    post:
      summary: Forzar recálculo del feed de inicio
      description: >
        Invalida el feed cacheado del usuario y dispara un recálculo inmediato
        considerando las señales más recientes. Pensado para casos donde el
        usuario acaba de realizar una acción significativa (ej. nueva suscripción).
      operationId: refreshHomeFeed
      tags: [feed]
      responses:
        '202':
          description: Recálculo aceptado; el próximo GET reflejará el nuevo feed
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Related / recommendations ───────────────────────────────────────────────

  /videos/{videoId}/related:
    get:
      summary: Obtener videos relacionados
      description: >
        Retorna una lista de videos similares o relacionados al video indicado,
        usados típicamente en la barra lateral de "siguiente video". La similitud
        se calcula por metadata, co-visualización y señales de engagement.
      operationId: getRelatedVideos
      tags: [related]
      parameters:
        - name: videoId
          in: path
          required: true
          description: ID del VideoAsset/contenido de referencia
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            maximum: 30
      responses:
        '200':
          description: Lista de videos relacionados ordenados por relevancia
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationSet'
        '404':
          $ref: '#/components/responses/NotFound'

  /videos/{videoId}/autoplay-next:
    get:
      summary: Obtener siguiente video sugerido para autoplay
      description: >
        Retorna un único video recomendado como siguiente en la cola de
        reproducción automática, personalizado si el usuario está autenticado.
      operationId: getAutoplayNext
      tags: [related]
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Video sugerido para autoplay
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationItem'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Trending ─────────────────────────────────────────────────────────────────

  /trending:
    get:
      summary: Obtener contenido en tendencia
      description: >
        Retorna los videos con mayor crecimiento de actividad reciente
        (reproducciones, likes, comentarios) en una región y categoría dadas.
        Se recalcula periódicamente, no en tiempo real estricto.
      operationId: getTrending
      tags: [trending]
      parameters:
        - name: region
          in: query
          required: false
          description: Código de país ISO 3166-1 alpha-2
          schema:
            type: string
            example: CL
            default: GLOBAL
        - name: category
          in: query
          required: false
          description: Categoría de contenido (opcional)
          schema:
            type: string
            example: musica
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 50
      responses:
        '200':
          description: Lista de contenido en tendencia
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingList'

  # ── Signals (internal ingestion) ────────────────────────────────────────────

  /signals:
    post:
      summary: Registrar una señal de interacción
      description: >
        Endpoint interno usado por otros contextos (Publicación, Audiencia,
        Catálogo) para reportar eventos relevantes para el ranking: una
        sesión de reproducción finalizada, un like, una nueva suscripción,
        o la publicación de un video nuevo. No está pensado para ser
        llamado por clientes finales.
      operationId: ingestSignal
      tags: [signals]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSignalRequest'
      responses:
        '202':
          description: Señal recibida y encolada para procesamiento
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ──────────────────────────────────────────────────────────────────────────────
# COMPONENTS
# ──────────────────────────────────────────────────────────────────────────────

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Token JWT que identifica al actor. El campo `role` del payload
        determina el nivel de acceso: `viewer` o `system`.

  responses:
    BadRequest:
      description: Solicitud inválida o parámetros incorrectos
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Token ausente o inválido
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Recurso no encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:

    # ── Errores ────────────────────────────────────────────────────────────────

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: RESOURCE_NOT_FOUND
        message:
          type: string
          example: El recurso solicitado no existe.

    # ── Resultado de contenido (vista liviana, no editorial) ────────────────────

    ContentSummary:
      type: object
      description: >
        Representación liviana de un video para fines de listado. La metadata
        editorial completa (título, descripción, thumbnail) se obtiene del
        contexto de Catálogo; aquí solo se referencia el ID y datos mínimos
        de display cacheados para evitar llamadas adicionales.
      required: [videoId, cachedTitle, durationSeconds]
      properties:
        videoId:
          type: string
          format: uuid
        cachedTitle:
          type: string
          description: Copia cacheada del título, sincronizada desde Catálogo
        cachedThumbnailUrl:
          type: string
          format: uri
          nullable: true
        durationSeconds:
          type: integer
        creatorId:
          type: string
          format: uuid

    # ── Search ─────────────────────────────────────────────────────────────────

    SearchResultPage:
      type: object
      required: [query, results, nextCursor]
      properties:
        query:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResultItem'
        nextCursor:
          type: string
          nullable: true

    SearchResultItem:
      type: object
      required: [content, relevanceScore]
      properties:
        content:
          $ref: '#/components/schemas/ContentSummary'
        relevanceScore:
          type: number
          format: float
          description: Puntaje de relevancia entre 0 y 1
          minimum: 0
          maximum: 1

    # ── Feed ───────────────────────────────────────────────────────────────────

    FeedPage:
      type: object
      required: [items, nextCursor, generatedAt]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RecommendationItem'
        nextCursor:
          type: string
          nullable: true
        generatedAt:
          type: string
          format: date-time
          description: Momento en que se calculó este feed (puede ser cacheado)

    # ── Recommendations ────────────────────────────────────────────────────────

    RecommendationSet:
      type: object
      required: [sourceVideoId, items, generatedAt]
      properties:
        sourceVideoId:
          type: string
          format: uuid
          description: Video respecto al cual se calcularon las recomendaciones
        items:
          type: array
          items:
            $ref: '#/components/schemas/RecommendationItem'
        generatedAt:
          type: string
          format: date-time

    RecommendationItem:
      type: object
      required: [content, score, reason]
      properties:
        content:
          $ref: '#/components/schemas/ContentSummary'
        score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Puntaje de personalización/relevancia
        reason:
          type: string
          enum: [watch_history, subscription, trending, similar_content, new_upload]
          description: Motivo principal por el cual se recomienda este contenido

    # ── Trending ───────────────────────────────────────────────────────────────

    TrendingList:
      type: object
      required: [region, items, computedAt]
      properties:
        region:
          type: string
          example: CL
        category:
          type: string
          nullable: true
        items:
          type: array
          items:
            $ref: '#/components/schemas/TrendingItem'
        computedAt:
          type: string
          format: date-time

    TrendingItem:
      type: object
      required: [content, rank, growthScore]
      properties:
        content:
          $ref: '#/components/schemas/ContentSummary'
        rank:
          type: integer
          description: Posición en el ranking de tendencias (1 = más alto)
        growthScore:
          type: number
          format: float
          description: Velocidad de crecimiento de actividad reciente

    # ── Signals ────────────────────────────────────────────────────────────────

    IngestSignalRequest:
      type: object
      required: [type, videoId, occurredAt]
      properties:
        type:
          type: string
          enum:
            - playback_completed
            - content_published
            - like
            - comment
            - subscription
          description: Tipo de evento de origen
        videoId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
          nullable: true
          description: Usuario que generó la señal, si aplica
        weight:
          type: number
          format: float
          nullable: true
          description: >
            Peso opcional de la señal (ej. segundos vistos para
            playback_completed). Su interpretación depende de `type`.
        occurredAt:
          type: string
          format: date-time
